aniso8601==4.1.0
asn1crypto==0.24.0
Babel==2.6.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
conda==4.6.14
cryptography==2.6.1
Flask==1.0.2
Flask-Babel==0.12.2
Flask-HTTPAuth==3.2.4
Flask-MySQL==1.4.0
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
idna==2.8
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.1.0
menuinst==1.4.16
mysql-connector-python==8.0.14
numpy==1.16.0
pandas==0.24.0
protobuf==3.6.1
pycosat==0.6.3
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
pywin32==223
requests==2.21.0
ruamel-yaml==0.15.46
six==1.12.0
urllib3==1.24.1
Werkzeug==0.14.1
win-inet-pton==1.1.0
wincertstore==0.2
WTForms==2.2.1
