{% extends 'layout.html' %}

{% block head %}
	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<!-- Highcharts drilldown -->
	<script src="https://code.highcharts.com/modules/drilldown.js" async></script>
{% endblock head %}

{% block body %}
	<div class="container">
		<!-- Tabs -->
		<ul class="nav nav-tabs nav-justified">
			<li class="main-tab active"><a href="#general">{{ _('General') }}</a></li>
			<li class="main-tab"><a href="#dashboard">{{ _('Dashboards') }}</a></li>
			
			<!-- Maps dropdown -->
			<li class="main-tab dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
					{{ _('Maps') }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#geodata" data-class="offering-map">{{ _('Offering Locations') }}</a></li>
					<li><a href="#geodata" data-class="learner-map">{{ _('Learner Locations') }}</a></li>
				</ul>
			</li>
			
			<li class="main-tab"><a href="#comments">{{ _('Comments') }}</a></li>
			<!-- Not wrapping 'P&A' in Babel's underscore func as throws error in IE11 -->
			<li class="main-tab"><a href="#material">P&amp;A</a></li>
		</ul>
		
		<!-- Import custom macro for adding 'Download raw data' button -->
		{% from "includes/_formhelpers.html" import download_raw %}
		
		<!-- Tabs' contents -->
		<!-- General -->
		<section id="general" class="main-section active">
			{{ download_raw(url_for('downloads.download_general', course_code=pass_dict.course_code)) }}
			{% include 'course-page/general.html' %}
		</section>
		
		<!-- Dashboard -->
		<section id="dashboard" class="main-section hide">
			{{ download_raw(url_for('downloads.download_dashboard', course_code=pass_dict.course_code)) }}
			{% include 'course-page/dashboard-main.html' %}
		</section>
		
		<!-- Geodata -->
		<section id="geodata" class="main-section hide">
			<!-- Dashboard and Maps tabs built from same table -->
			{{ download_raw(url_for('downloads.download_dashboard', course_code=pass_dict.course_code)) }}
			{% include 'course-page/geodata.html' %}
		</section>
		
		<!-- Level 1 Comments -->
		<section id="comments" class="main-section hide">
			{{ download_raw(url_for('downloads.download_comments', course_code=pass_dict.course_code)) }}
			{% include 'course-page/comments.html' %}
		</section>
		
		<!-- Material i.e. Prep & Admin -->
		<section id="material" class="main-section hide">
			{% include 'course-page/material.html' %}
		</section>
	</div>
	
	<script async>
		// Set font for Highcharts
		Highcharts.setOptions({chart: {style: {fontFamily: 'Helvetica'}}});
		
		// IE11 bug: Charts created in hidden div assigned incorrect width
		function resizeHighcharts(mySection) {
			var currentHighcharts = $(mySection + ' div[data-highcharts-chart]');
			// Loop through charts and resize
			for (var i = 0; i < currentHighcharts.length; i++) {
				$('#' + currentHighcharts[i].id).highcharts().reflow();
			}
		}
		
		// For tabs' on click, show / hide appropriate sections
		$('.nav-tabs li a').not('.dropdown-toggle').click(function(e) {
			e.preventDefault();
			
			// Hide all active sections
			$('.main-section, .main-tab').removeClass('active');
			$('.main-section').addClass('hide');
			
			// Show section whose tab was just clicked
			var new_section = $(this).attr('href');
			$(new_section).removeClass('hide');
			$(new_section).addClass('active');
			$(this).parents('li.main-tab').addClass('active'); // Appearance of tab in navbar
			
			// If applicable, show specific class within section and hide others
			// Class name stored in attr 'data-class'
			var show_class = $(this).attr('data-class');
			if (show_class) {
				// Hide all irrelevant divs
				$('.hideable').hide();
				$('.' + show_class).show();
			}
			
			/* IE11 bug: Create Offerings per Region chart only after its parent
			div is activated, else drilldown functionality won't work */
			if (new_section === '#dashboard' && !offeringPerRegionCreatedFlag) {
				createOfferingsPerRegion();
				offeringPerRegionCreatedFlag++;
			}
			
			resizeHighcharts(new_section);
		});
	</script>
{% endblock body %}
