<!-- CSS barchart showing percentages for 5 stars, 4 stars, etc. -->
<table class="stars-bar-chart">
	<thead>
		<tr>
			<td colspan="2">
				<h3 class="stars-bar-title">
					<!-- Title added dynamically by jQuery in script tag below -->
					<span></span>
					<img class="computed-score-tooltip" class="inline-tooltip" src="{{ url_for('static', filename='tooltip.png') }}" alt="{{ _('Tooltip') }}" />
				</h3>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="col-xs-2 text-center">{{ _('Five') }}</td>
			<td class="col-xs-10">
				<a class="bar-stars-five" href="" data-target="5">
					<!-- Width and text added dynamically by jQuery in script tag below -->
					<span class="bar-fill" style="width: 0%;"></span>
					<span class="bar-label"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td class="col-xs-2 text-center">{{ _('Four') }}</td>
			<td class="col-xs-10">
				<a class="bar-stars-four" href="" data-target="4">
					<span class="bar-fill" style="width: 0%;"></span>
					<span class="bar-label"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td class="col-xs-2 text-center">{{ _('Three') }}</td>
			<td class="col-xs-10">
				<a class="bar-stars-three" href="" data-target="3">
					<span class="bar-fill" style="width: 0%;"></span>
					<span class="bar-label"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td class="col-xs-2 text-center">{{ _('Two') }}</td>
			<td class="col-xs-10">
				<a class="bar-stars-two" href="" data-target="2">
					<span class="bar-fill" style="width: 0%;"></span>
					<span class="bar-label"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td class="col-xs-2 text-center">{{ _('One') }}</td>
			<td class="col-xs-10">
				<a class="bar-stars-one" href="" data-target="1">
					<span class="bar-fill" style="width: 0%;"></span>
					<span class="bar-label"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<script async>
	// Add tooltip contents
	$('.computed-score-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Comments are assigned a sentiment score between 1 (most negative) and 5 (most positive) using machine learning.</p>') }}",
		animation: true,
		html: true
	});
	
	// Func to update CSS bar charts
	function updateBarChart(tabName, data, fiscalYear) {
		// Get counts
		var fiveStar = data[5];
		var fourStar = data[4];
		var threeStar = data[3];
		var twoStar = data[2];
		var oneStar = data[1];
		// Get largest length and use to scale counts to bar widths
		var upperBound = Math.max(fiveStar, fourStar, threeStar, twoStar, oneStar) * 1.4;
		// Account for 0 comments
		upperBound = (upperBound) ? upperBound : 1
		var fiveStarScaled = Math.round((fiveStar / upperBound) * 100);
		var fourStarScaled = Math.round((fourStar / upperBound) * 100);
		var threeStarScaled = Math.round((threeStar / upperBound) * 100);
		var twoStarScaled = Math.round((twoStar / upperBound) * 100);
		var oneStarScaled = Math.round((oneStar / upperBound) * 100);
		
		// Use scaled counts to set width of span, thus creating bar chart
		// Transition between states to look sexy
		$(tabName + ' .stars-bar-chart .bar-stars-five span').css({
			'width': String(fiveStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-four span').css({
			'width': String(fourStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-three span').css({
			'width': String(threeStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-two span').css({
			'width': String(twoStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-one span').css({
			'width': String(oneStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		
		// Add labels showing percentages
		var totalComments = fiveStar + fourStar + threeStar + twoStar + oneStar;
		// Account for 0 comments
		totalCommentsDivisor = (totalComments) ? totalComments : 1;
		// Multiply then divide by ten as JS built-in Math.round doesn't support rounding to 1 decimal
		var percentFive = Math.round((fiveStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentFour = Math.round((fourStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentThree = Math.round((threeStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentTwo = Math.round((twoStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentOne = Math.round((oneStar / totalCommentsDivisor) * 100 * 10) / 10;
		$(tabName + ' .stars-bar-chart .bar-stars-five span.bar-label').text(String(percentFive) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-four span.bar-label').text(String(percentFour) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-three span.bar-label').text(String(percentThree) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-two span.bar-label').text(String(percentTwo) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-one span.bar-label').text(String(percentOne) + '%');
		
		// Update h3 showing total number of comments
		// Add leading space to distinguish from uppercase 'Commentaires'
		var titleNoun = (totalComments == 1) ? "{{ _(' Comment ') }}" : "{{ _(' Comments') }}";
		var titlePrep = "{{ _('in') }}";
		if (fiscalYear == '') {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + "{{ _('in Total') }}");
		} else {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + titlePrep + ' ' + fiscalYear.replace('-20', '-'));
		}
	}
	
	// Func to load counts via AJAX and update CSS barchart accordingly
	// This func must call func updateBarChart to be truly asynchronous
	function getCounts(commentType, fiscalYear, tabName) {
		$.ajax({
			url: '/api/v1/counts/' + commentType + '/{{ pass_dict.course_code }}?fiscal_year=' +
				fiscalYear,
			type: 'GET',
			success: function(resp) {
				updateBarChart(tabName=tabName, data=resp, fiscalYear=fiscalYear);
			}
		});
	}
	
	// EVERYTHING BEYOND THIS POINT IN FOR LOOP
	
	// Load initial barchart
	getCounts(commentType='general', fiscalYear='', tabName='.general-comments');
</script>
