<h1>{{ pass_dict.course_title }}</h1>

{% set comment_names = ['general', 'technical', 'language', 'performance'] %}
{% for comment_name in comment_names %}
	<section class="{{ comment_name }}-comments hideable">
		<!-- CSS barchart showing percentages for 5 stars, 4 stars, etc. -->
		{% include 'course-page/comments/comments-barchart.html' %}
		
		<!-- Dropdown to filter by star -->
		<div class="star-filter">
			<p>{{ _('Stars: ') }}</p>
			<select data-target=".{{ comment_name }}-comments" data-type="{{ comment_name }}">
				<option value="">{{ _('All') }}</option>
				<option value="5">{{ _('Five') }}</option>
				<option value="4">{{ _('Four') }}</option>
				<option value="3">{{ _('Three') }}</option>
				<option value="2">{{ _('Two') }}</option>
				<option value="1">{{ _('One') }}</option>
			</select>
		</div>
		
		<!-- Dropdown to filter by fiscal year -->
		<div class="year-filter">
			<p>{{ _('Fiscal Year: ') }}</p>
			<select data-target=".{{ comment_name }}-comments" data-type="{{ comment_name }}">
				<option value="">{{ _('All') }}</option>
				<option value="2015-2016">2015-16</option>
				<option value="2016-2017">2016-17</option>
				<option value="2017-2018">2017-18</option>
				<option value="2018-2019">2018-19</option>
				<option value="2019-2020">2019-20</option>
			</select>
		</div>
		
		<!-- Div to hold comments -->
		<div class="ajax"></div>
		<!-- Button to load more comments via AJAX and append to document -->
		<div class="more-button-outer">
			<button class="btn btn-primary more-button" data-target=".{{ comment_name }}-comments" data-type="{{ comment_name }}">{{ _('Load More') }}</button>
		</div>
	</section>
{% endfor %}


<!-- Instructor comments -->
<section class="instructor-comments hideable">
	<h4>{{ _('Comments on instructor performance are currently disabled due to privacy restrictions. If you would like to consult this feedback, please contact the <a href="mailto:csps.facultyfeedback-retroactionfaculte.efpc@canada.ca">Quality Assurance and Data Analysis (QADA)</a> team.') }}</h4>
</section>


<!-- Categorical questions -->
{% include 'course-page/comments/comments-categorical.html' %}


<!-- Funcs for AJAX comments -->
<!-- More elegant to move to separate .js file, but Jinja2 requires everyting in same file -->
<script async>
	// Object to store a counter for each comment section
	var currentIndex = {
		'general': 0,
		'technical': 0,
		'language': 0,
		'performance': 0
	};
	
	// Func to get dropdown selections
	function getDropdownVals(currentSection) {
		var dropdowns = $(currentSection + ' select');
		return {
			'stars': dropdowns[0].value,
			'fiscalYear': dropdowns[1].value,
		};
	}
	
	// Func to load and append n comments via AJAX
	const STEP_SIZE = 20;
	function getComments(commentType, append, targetSection, stars, fiscalYear) {
		$.ajax({
			{% set lang = 'fr' if request.cookies.get('lang', None) == 'fr' else 'en' %}
			url: '/api/v1/comments/' + commentType + '/{{ pass_dict.course_code }}?lang={{ lang }}&limit=' +
				STEP_SIZE + '&offset=' + currentIndex[commentType] + '&stars=' + stars + '&fiscal_year=' +
				fiscalYear + '&html=true',
			type: 'GET',
			success: function(resp) {
				if (resp.Error || resp.Erreur) {
					if (append) {
						$(targetSection + ' div.ajax').append("{{ _('End of comments') }}");
					} else {
						$(targetSection + ' div.ajax').html("{{ _('End of comments') }}");
					}
					$(targetSection + ' button.more-button').prop('disabled', true);
				} else {
					if (append) {
						$(targetSection + ' div.ajax').append(resp.data);
					} else {
						$(targetSection + ' div.ajax').html(resp.data);
					}
					currentIndex[commentType] = currentIndex[commentType] + STEP_SIZE;
				}
			}
		});
	}
	
	// Add listener to dropdowns: Load comments via AJAX to match criteria
	$('.star-filter select, .year-filter select').on('change', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var targetSection = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selections
		var dropdownVals = getDropdownVals(targetSection);
		
		// Load comments via AJAX and overwrite contents of targetSection
		// Reset counter and button
		currentIndex[commentType] = 0;
		$(targetSection + ' button.more-button').prop('disabled', false);
		getComments(commentType=commentType, append=false, targetSection=targetSection,
					stars=dropdownVals.stars, fiscalYear=dropdownVals.fiscalYear);
	});
	
	// Add listener to 'Load More' buttons: Load another n comments
	$('.more-button').on('click', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var targetSection = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selections
		var dropdownVals = getDropdownVals(targetSection);
		
		// Load comments via AJAX and append to contents of targetSection
		getComments(commentType=commentType, append=true, targetSection=targetSection,
					stars=dropdownVals.stars, fiscalYear=dropdownVals.fiscalYear);
	});
	
	// Add listener to barchart: Click to trigger .star-filter
	$('.stars-bar-chart a').on('click', function(e) {
		e.stopImmediatePropagation();
		e.preventDefault();
		
		// Get section in which to trigger dropdown
		var targetSection = $(this).attr('data-target');
		
		// Get type of comments to load
		var clickedVal = $(this).attr('data-value');
		
		// Set dropdown to clickedVal
		$(targetSection + ' .star-filter select').val(clickedVal).change();
		return false;
	});
</script>


<!-- Funcs for AJAX barcharts -->
<!-- More elegant to move to separate .js file, but Jinja2 requires everyting in same file -->
<script async>
	// Add tooltip contents
	/*
	$('.computed-score-tooltip').tooltip({
		placement: 'bottom',
		title: "{{ _('<h5>Tip:</h5><p>Comments are assigned a sentiment score between 1 (most negative) and 5 (most positive) using machine learning.</p>') }}",
		animation: true,
		html: true
	});
	*/
	
	// Func to update CSS bar charts
	function updateBarChart(tabName, data, fiscalYear) {
		// Get counts
		var fiveStar = data[5];
		var fourStar = data[4];
		var threeStar = data[3];
		var twoStar = data[2];
		var oneStar = data[1];
		// Get largest length and use to scale counts to bar widths
		var upperBound = Math.max(fiveStar, fourStar, threeStar, twoStar, oneStar) * 1.4;
		// Account for 0 comments
		upperBound = (upperBound) ? upperBound : 1
		var fiveStarScaled = Math.round((fiveStar / upperBound) * 100);
		var fourStarScaled = Math.round((fourStar / upperBound) * 100);
		var threeStarScaled = Math.round((threeStar / upperBound) * 100);
		var twoStarScaled = Math.round((twoStar / upperBound) * 100);
		var oneStarScaled = Math.round((oneStar / upperBound) * 100);
		
		// Use scaled counts to set width of span, thus creating bar chart
		// Transition between states to look sexy
		$(tabName + ' .stars-bar-chart .bar-stars-five span').css({
			'width': String(fiveStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-four span').css({
			'width': String(fourStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-three span').css({
			'width': String(threeStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-two span').css({
			'width': String(twoStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		$(tabName + ' .stars-bar-chart .bar-stars-one span').css({
			'width': String(oneStarScaled) + '%',
			'transition': 'width 450ms ease-in-out'
		});
		
		// Add labels showing percentages
		var totalComments = fiveStar + fourStar + threeStar + twoStar + oneStar;
		// Account for 0 comments
		totalCommentsDivisor = (totalComments) ? totalComments : 1;
		// Multiply then divide by ten as JS built-in Math.round doesn't support rounding to 1 decimal
		var percentFive = Math.round((fiveStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentFour = Math.round((fourStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentThree = Math.round((threeStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentTwo = Math.round((twoStar / totalCommentsDivisor) * 100 * 10) / 10;
		var percentOne = Math.round((oneStar / totalCommentsDivisor) * 100 * 10) / 10;
		$(tabName + ' .stars-bar-chart .bar-stars-five span.bar-label').text(String(percentFive) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-four span.bar-label').text(String(percentFour) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-three span.bar-label').text(String(percentThree) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-two span.bar-label').text(String(percentTwo) + '%');
		$(tabName + ' .stars-bar-chart .bar-stars-one span.bar-label').text(String(percentOne) + '%');
		
		// Update h3 showing total number of comments
		// Add leading space to distinguish from uppercase 'Commentaires'
		var titleNoun = (totalComments == 1) ? "{{ _(' Comment ') }}" : "{{ _(' Comments') }}";
		var titlePrep = "{{ _('in') }}";
		if (fiscalYear == '') {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + "{{ _('in Total') }}");
		} else {
			$(tabName + ' .stars-bar-chart thead h3 span').text(totalComments + titleNoun + ' ' + titlePrep + ' ' + fiscalYear.replace('-20', '-'));
		}
	}
	
	// Func to load counts via AJAX and update CSS barchart accordingly
	// This func must call func updateBarChart to be truly asynchronous
	function getCounts(commentType, fiscalYear, tabName) {
		$.ajax({
			url: '/api/v1/counts/' + commentType + '/{{ pass_dict.course_code }}?fiscal_year=' +
				fiscalYear,
			type: 'GET',
			success: function(resp) {
				updateBarChart(tabName=tabName, data=resp, fiscalYear=fiscalYear);
				// Display message if no feedback in all fiscal years
				var sumComments = resp[1] + resp[2] + resp[3] + resp[4] + resp[5];
				if (fiscalYear == '' && sumComments == 0) {
					$(tabName).html("<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>");
				}
			}
		});
	}
	
	// Add listener to fiscal year dropdown: Update barchart
	$('.year-filter select').on('change', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var tabName = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selection
		var fiscalYear = $(this)[0].value;
		
		// Load comments via AJAX and update barchart
		getCounts(commentType=commentType, fiscalYear=fiscalYear, tabName=tabName);
	});
</script>

<!-- Load first n comments for each section -->
{% for comment_name in comment_names %}
	<script async>
		getComments(commentType='{{ comment_name }}', append=false, targetSection='.{{ comment_name }}-comments', stars='', fiscalYear='');
		
		// Load initial barchart
		getCounts(commentType='{{ comment_name }}', fiscalYear='', tabName='.{{ comment_name }}-comments');
	</script>
{% endfor %}
