<h1>{{ pass_dict.course_title }}</h1>

<section class="general-comments hideable">
	
	<!-- CSS barchart showing percentages for 5 stars, 4 stars, etc. -->
	{% include 'course-page/comments/comments-barchart.html' %}
	
	<!-- Dropdown to filter by star -->
	<div class="star-filter">
		<p>{{ _('Stars: ') }}</p>
		<select data-target=".general-comments" data-type="general">
			<option value="">{{ _('All') }}</option>
			<option value="5">{{ _('Five') }}</option>
			<option value="4">{{ _('Four') }}</option>
			<option value="3">{{ _('Three') }}</option>
			<option value="2">{{ _('Two') }}</option>
			<option value="1">{{ _('One') }}</option>
		</select>
	</div>
	
	<!-- Dropdown to filter by fiscal year -->
	<div class="year-filter">
		<p>{{ _('Fiscal Year: ') }}</p>
		<select data-target=".general-comments" data-type="general">
			<option value="">{{ _('All') }}</option>
			<option value="2015-2016">2015-16</option>
			<option value="2016-2017">2016-17</option>
			<option value="2017-2018">2017-18</option>
			<option value="2018-2019">2018-19</option>
			<option value="2019-2020">2019-20</option>
		</select>
	</div>
	
	<!-- Div to hold comments -->
	<div class="ajax"></div>
	<!-- Button to load more comments via AJAX and append to document -->
	<div class="mars" style="text-align: center">
		<button class="btn btn-primary more-button" data-target=".general-comments" data-type="general" style="margin-bottom: 2rem">{{ _('Load More') }}</button>
	</div>
</section>

<script async>
	// Func to get dropdown selections
	function getDropdownVals(currentSection) {
		var dropdowns = $(currentSection + ' select');
		return {
			'stars': dropdowns[0].value,
			'fiscalYear': dropdowns[1].value,
		};
	}
	
	// Func to load and append n comments via AJAX
	var currentIndex = 0;
	const STEP_SIZE = 20;
	function getComments(commentType, append, targetSection, stars, fiscalYear) {
		$.ajax({
			url: '/api/v1/comments/' + commentType + '/{{ pass_dict.course_code }}?lang=en&limit=' +
				STEP_SIZE + '&offset=' + currentIndex + '&stars=' + stars + '&fiscal_year=' +
				fiscalYear + '&html=true',
			type: 'GET',
			success: function(resp) {
				if (resp.Error) {
					if (append) {
						$(targetSection + ' div.ajax').append("{{ _('End of comments') }}");
					} else {
						$(targetSection + ' div.ajax').html("{{ _('End of comments') }}");
					}
					$(targetSection + ' button.more-button').prop('disabled', true);
				} else {
					if (append) {
						$(targetSection + ' div.ajax').append(resp.data);
					} else {
						$(targetSection + ' div.ajax').html(resp.data);
					}
					currentIndex = currentIndex + STEP_SIZE;
				}
			}
		});
	}
	
	// Add listener to dropdowns: Load comments via AJAX to match criteria
	$('.star-filter select, .year-filter select').on('change', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var targetSection = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selections
		var dropdownVals = getDropdownVals(targetSection);
		
		// Load comments via AJAX and overwrite contents of targetSection
		// Reset counter and button
		currentIndex = 0;
		$(targetSection + ' button.more-button').prop('disabled', false);
		getComments(commentType=commentType, append=false, targetSection=targetSection,
					stars=dropdownVals.stars, fiscalYear=dropdownVals.fiscalYear);
	});
	
	// Add listener to 'Load More' buttons: Load another n comments
	$('.more-button').on('click', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var targetSection = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selections
		var dropdownVals = getDropdownVals(targetSection);
		
		// Load comments via AJAX and append to contents of targetSection
		getComments(commentType=commentType, append=true, targetSection=targetSection,
					stars=dropdownVals.stars, fiscalYear=dropdownVals.fiscalYear);
	});
	
	// Add listener to fiscal year dropdown: Update barchart
	// Listener can't be in file 'comments-barchart.html' as <select> elem not yet created
	$('.year-filter select').on('change', function(e) {
		e.preventDefault();
		
		// Get section in which to load comments
		var tabName = $(this).attr('data-target');
		
		// Get type of comments to load
		var commentType = $(this).attr('data-type');
		
		// Get dropdown selection
		var fiscalYear = $(this)[0].value;
		
		// Load comments via AJAX and update barchart
		getCounts(commentType=commentType, fiscalYear=fiscalYear, tabName=tabName);
	});
	
	// EVERYTHING BEYOND THIS POINT IN FOR LOOP
	
	// Load first n comments
	getComments(commentType='general', append=false, targetSection='.general-comments', stars='', fiscalYear='');
</script>
